*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
}
.d-flex{
    display: flex;
    flex-direction: column;
}
.container{
    height: auto;
    width: 500px;
}
.first_h1{
    background-color: black;
    color: aliceblue;
    width: 100%;
}
.second_h1{
    text-align: center;
}
.main{
    display: flex;
    justify-content: space-between;
}
.first_block{
    border: 2px solid black;
    height: 150px;
    width: 120px;
    align-items: center;
}
.block_top{
    display: flex;
    justify-content: space-between;
}
.name, .first_likes, .second_likes, .third_likes{
    flex: 1;
}
.first_likes, .second_likes, .third_likes{
    display: flex;
    justify-content: space-around;
}
.row_blocks{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
   width: 350px;
}
.rsecond_block, .rfirst_block, .rthird_block{
    
    border: 2px solid black;
    height: 70px;
    padding: 10px;
    
}
p{
    padding-top: 5px;
    padding-bottom: 5px;
}
.txt{
    text-decoration: underline;
    color: aqua;
}
.btn{
    box-shadow: 2px 2px black;
    background-color: yellow;
    width: 50px;
}